*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #666363;
    border: #666363;
    position: sticky;
    top: 0;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 30px 0;    
}

.navbar ul li {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    font-weight: bold;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;
}

.navbar ul li a:hover {
    background-color: white;
    color: black;
   box-shadow: 0 0 10px white;
}

/* Home Section */
#home {
    display: flex;
    flex-direction: column;
    background-image: url(blue1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #36b1ff;
    top: auto;
    height: 840px;
    justify-content: center;
    align-items: center;
    color: white;
}

#home::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: -1;
    opacity: .8;
}

.main {
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */
    align-items: center;
    position: absolute;
    top: 30%;
    left: 70%;

}

.headings {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    text-align: center;
    position: right;
    margin: 40px 0px;
    color: #666363;
}

.btn {
    padding: 10px 35px;
    background-color: transparent;
    border: 1px solid #666363;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #666363;
    outline: none;
    transition: .6s ease;
}

.btn:hover {
    cursor: pointer;
    background-color: white;
    color: #666363;
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
}

/* About Section */

#about {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
    background-color: #002750;
    
}

.header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    text-align: center;
    position: right;
    margin: 40px 0px;
    color: #666363;
}

.pic {
  display: flex;
  margin-left: 100px;
}

.pic img {
    width: 400px;
    height: 350px;
    
}

.intro {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.intro h2 {
    text-align-last: right;
    margin-left: auto;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: auto;
    color: #666363;

}

.intro p {
    display: flex;
    margin-left: auto;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    color: #666363;
}

.intro h3 {
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: #666363;
    font-size: 40px;
}